<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726418846270-nljagevh0rjuh2s11eec6vas2bfvmbn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726418846270-nljagevh0rjuh2s11eec6vas2bfvmbn2</string>
	<key>API_KEY</key>
	<string>AIzaSyDkpy1V6l5-JUGkBc8jiBu6Z7_bCGyzH64</string>
	<key>GCM_SENDER_ID</key>
	<string>726418846270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishLearn</string>
	<key>PROJECT_ID</key>
	<string>vocopus</string>
	<key>STORAGE_BUCKET</key>
	<string>vocopus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726418846270:ios:93618b97be8d7886c0576f</string>
</dict>
</plist>